.PropertyCardContainer__Properties .property-wrap {
  display: flex;
  flex-wrap: wrap;
}
.PropertyCardContainer__Properties .carousel-wrap {
  margin-left: -30px;
}
html[dir="rtl"] .PropertyCardContainer__Properties {
  float: none;
}
.PropertyCardContainer li.Grid--item {
  padding: 0 8px;
}
.PropertyCardContainer .Grid--item {
  margin-top: 16px;
}
.PropertyCardContainer .Grid--carouselItem {
  margin-top: 16px;
  padding: 0 8px;
  width: 100%;
}
.PropertyCard.CampaignLanding {
  color: #2a2a2e;
}
.PropertyCard.CampaignLanding:active,
.PropertyCard.CampaignLanding:focus,
.PropertyCard.CampaignLanding:hover,
.PropertyCard.CampaignLanding:visited {
  text-decoration: none;
  color: #2a2a2e;
}
.PropertyCard__Container {
  border-radius: 8px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  height: 380px;
  cursor: pointer;
  background-color: #fff;
}
.PropertyCard__Container.tallBox {
  height: 425px;
  max-height: 425px;
  overflow: hidden;
}
.PropertyCard__Container.fullHeight {
  height: 100%;
  max-height: none;
}
.PropertyCard__HeadShadow {
  width: 100%;
  height: 46px;
  border-radius: 4px;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3),
    transparent 80%
  );
  position: absolute;
  top: 0;
  left: 0;
}
.PropertyCard__Discount {
  position: absolute;
  background-color: #e12d2d;
  top: 16px;
  width: 86px;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  padding: 4px;
}
.PropertyCard__Discount--number {
  font-size: 20px;
}
.PropertyCard__Discount--text {
  font-size: 10px;
  font-weight: 200;
}
.PropertyCard__MainImageContainer img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  height: 170px;
}
.PropertyCard__Information {
  padding: 12px;
}
.PropertyCard__Information__HotelTitle {
  line-height: 18px;
  max-height: 36px;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
}
.PropertyCard__Information__HotelTitle__HotelName {
  font-size: 16px;
}
.PropertyCard__Information__HotelTitle__AwardYear {
  display: inline-block;
}
.PropertyCard__Information__HotelTitle__AwardYear--text {
  font-size: 14px;
}
html[dir="rtl"]
  .PropertyCard__Information__HotelTitle__AwardYear
  .ficon-gca-wreath-left,
html[dir="rtl"]
  .PropertyCard__Information__HotelTitle__AwardYear
  .ficon-gca-wreath-right {
  transform: scaleX(-1);
}
.PropertyCard__Information__RatingAndLocation {
  margin-top: 4px;
  line-height: 18px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 12px;
}
.PropertyCard__Information__RatingAndLocation__Location {
  margin-left: 8px;
  color: #5392f9;
}
html[dir="rtl"] .PropertyCard__Information__RatingAndLocation__Location {
  margin-left: 0;
  margin-right: 8px;
}
.PropertyCard__Information__RatingAndLocation__Location--text {
  margin-left: 4px;
}
html[dir="rtl"] .PropertyCard__Information__RatingAndLocation__Location--text {
  margin-left: 0;
  margin-right: 4px;
}
html[dir="rtl"] .PropertyCard__Information__RatingAndLocation i {
  transform: scaleX(-1);
}
.PropertyCard__Information__ReviewScoreContainer {
  display: flex;
}
.ie9 .PropertyCard__Information__ReviewScoreContainer {
  display: block;
  overflow: hidden;
}
html[dir="rtl"] .PropertyCard__Information__ReviewScoreContainer {
  float: right;
}
.PropertyCard__Information__ReviewScoreContainer__ReviewScore {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.ie9 .PropertyCard__Information__ReviewScoreContainer__ReviewScore {
  float: left;
}
html[dir="rtl"] .PropertyCard__Information__ReviewScoreContainer__ReviewScore {
  float: right;
}
.PropertyCard__Information__ReviewScoreContainer__ReviewScore
  .ReviewScore-Icon {
  font-size: 50px;
  color: #5392f9;
  margin-bottom: 0;
}
html[dir="ltr"]
  .PropertyCard__Information__ReviewScoreContainer__ReviewScore
  .ReviewScore-Icon {
  transform: scaleX(-1);
}
.PropertyCard__Information__ReviewScoreContainer__ReviewScore
  .ReviewScore-DayUse-Icon {
  font-size: 50px;
  margin-bottom: 0;
}
html[dir="ltr"]
  .PropertyCard__Information__ReviewScoreContainer__ReviewScore
  .ReviewScore-DayUse-Icon {
  transform: scaleX(-1);
}
.PropertyCard__Information__ReviewScoreContainer__ReviewScore--span {
  font-size: 16px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
}
html[dir="rtl"]
  .PropertyCard__Information__ReviewScoreContainer__ReviewScore--span {
  right: 0;
  margin-left: 0;
  margin-right: 10px;
}
.PropertyCard__Information__ReviewScoreContainer__ReviewInformation {
  margin-left: 8px;
  padding-top: 6px;
}
html[dir="rtl"]
  .PropertyCard__Information__ReviewScoreContainer__ReviewInformation {
  margin-left: 0;
  margin-right: 8px;
}
.ie9 .PropertyCard__Information__ReviewScoreContainer__ReviewInformation {
  float: left;
}
.PropertyCard__Information__ReviewScoreContainer__ReviewInformation--text {
  font-size: 14px;
}
.PropertyCard__Information__ReviewScoreContainer__ReviewInformation__Number {
  font-size: 12px;
  color: #737373;
}
.PropertyCard__Information__Price {
  position: absolute;
  bottom: 12px;
  right: 12px;
  text-align: right;
  color: #737373;
}
html[dir="rtl"] .PropertyCard__Information__Price {
  left: 12px;
  text-align: left;
}
.PropertyCard__Information__Price__PricePerNight {
  font-size: 12px;
}
.PropertyCard__Information__Price__PriceCrossOut {
  font-size: 12px;
  text-decoration: line-through;
}
.PropertyCard__Information__Price__TotalPrice {
  font-size: 24px;
  color: #e12d2d;
}
.PropertyCard__Information__Price__TotalPrice--price {
  margin-left: 4px;
}
html[dir="rtl"] .PropertyCard__Information__Price__TotalPrice--price {
  margin-left: 0;
  margin-right: 4px;
}
.PropertyCard__Information__AsoRatePlanName {
  font-size: 14px;
  margin-top: 4px;
  color: #5392f9;
  overflow: hidden;
  position: relative;
  line-height: 18px;
  max-height: 54px;
}
@supports (-webkit-line-clamp: 3) {
  .PropertyCard__Information__AsoRatePlanName {
    display: -webkit-box;
    -webkit-line-clamp: 3;
  }
}
@supports not (-webkit-line-clamp: 3) {
  html[dir="ltr"] .PropertyCard__Information__AsoRatePlanName {
    margin-right: 1em;
    padding-right: 1em;
  }
  html[dir="rtl"] .PropertyCard__Information__AsoRatePlanName {
    margin-left: 1em;
    padding-left: 1em;
  }
  .PropertyCard__Information__AsoRatePlanName:before {
    content: "";
    position: absolute;
    bottom: 0;
  }
  html[dir="ltr"] .PropertyCard__Information__AsoRatePlanName:before {
    right: 0;
  }
  html[dir="rtl"] .PropertyCard__Information__AsoRatePlanName:before {
    left: 0;
  }
  .PropertyCard__Information__AsoRatePlanName:after {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
  }
  html[dir="ltr"] .PropertyCard__Information__AsoRatePlanName:after {
    right: 0;
  }
  html[dir="rtl"] .PropertyCard__Information__AsoRatePlanName:after {
    left: 0;
  }
  body:not(.themed) .PropertyCard__Information__AsoRatePlanName:after {
    background: #fff;
  }
}
.PropertyCard.Benefits .PropertyCard__Container {
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.PropertyCard.Benefits .PropertyCard__Information {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 6px;
}
.PropertyCard.Benefits .PropertyCard__Information__HotelTitle {
  padding: 0 8px;
  overflow: hidden;
  position: relative;
  line-height: 18px;
  max-height: 36px;
}
@supports (-webkit-line-clamp: 2) {
  .PropertyCard.Benefits .PropertyCard__Information__HotelTitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
  }
}
@supports not (-webkit-line-clamp: 2) {
  html[dir="ltr"]
    .PropertyCard.Benefits
    .PropertyCard__Information__HotelTitle {
    margin-right: 1em;
    padding-right: 1em;
  }
  html[dir="rtl"]
    .PropertyCard.Benefits
    .PropertyCard__Information__HotelTitle {
    margin-left: 1em;
    padding-left: 1em;
  }
  .PropertyCard.Benefits .PropertyCard__Information__HotelTitle:before {
    content: "";
    position: absolute;
    bottom: 0;
  }
  html[dir="ltr"]
    .PropertyCard.Benefits
    .PropertyCard__Information__HotelTitle:before {
    right: 0;
  }
  html[dir="rtl"]
    .PropertyCard.Benefits
    .PropertyCard__Information__HotelTitle:before {
    left: 0;
  }
  .PropertyCard.Benefits .PropertyCard__Information__HotelTitle:after {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
  }
  html[dir="ltr"]
    .PropertyCard.Benefits
    .PropertyCard__Information__HotelTitle:after {
    right: 0;
  }
  html[dir="rtl"]
    .PropertyCard.Benefits
    .PropertyCard__Information__HotelTitle:after {
    left: 0;
  }
  body:not(.themed)
    .PropertyCard.Benefits
    .PropertyCard__Information__HotelTitle:after {
    background: transparent;
  }
}
.PropertyCard.Benefits .PropertyCard__Information__RatingAndLocation {
  padding: 0 8px;
  margin: 4px 0;
}
.PropertyCard.Benefits .PropertyCard__Information__RatingAndLocation__Location {
  margin-left: 16px;
}
.PropertyCard.Benefits .PropertyCard__Information__ReviewScoreContainer {
  padding: 0 12px;
}
.PropertyCard.Benefits .PropertyCard__Information__AsoRatePlanSection {
  background-color: #f7f7f7;
  flex: 1;
  margin-top: auto;
}
.PropertyCard.Benefits
  .PropertyCard__Information__AsoRatePlanSection__AsoRatePlanTitle {
  overflow: hidden;
  position: relative;
  line-height: 30px;
  max-height: 30px;
  color: #333;
  margin: 4px 16px;
}
@supports (-webkit-line-clamp: 1) {
  .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoRatePlanTitle {
    display: -webkit-box;
    -webkit-line-clamp: 1;
  }
}
@supports not (-webkit-line-clamp: 1) {
  html[dir="ltr"]
    .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoRatePlanTitle {
    margin-right: 1em;
    padding-right: 1em;
  }
  html[dir="rtl"]
    .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoRatePlanTitle {
    margin-left: 1em;
    padding-left: 1em;
  }
  .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoRatePlanTitle:before {
    content: "";
    position: absolute;
    bottom: 0;
  }
  html[dir="ltr"]
    .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoRatePlanTitle:before {
    right: 0;
  }
  html[dir="rtl"]
    .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoRatePlanTitle:before {
    left: 0;
  }
  .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoRatePlanTitle:after {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
  }
  html[dir="ltr"]
    .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoRatePlanTitle:after {
    right: 0;
  }
  html[dir="rtl"]
    .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoRatePlanTitle:after {
    left: 0;
  }
  body:not(.themed)
    .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoRatePlanTitle:after {
    background: transparent;
  }
}
.PropertyCard.Benefits
  .PropertyCard__Information__AsoRatePlanSection__AsoBenefits {
  overflow: hidden;
  max-height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #32a923;
  padding: 0;
  margin: 0;
}
.PropertyCard.Benefits
  .PropertyCard__Information__AsoRatePlanSection__AsoBenefits__BenefitListItem {
  list-style: none;
  padding: 4px 8px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
}
.PropertyCard.Benefits
  .PropertyCard__Information__AsoRatePlanSection__AsoBenefits__BenefitListItem__BenefitText {
  overflow: hidden;
  position: relative;
  line-height: 17px;
  max-height: 34px;
  max-height: 32px;
  padding-left: 8px;
}
@supports (-webkit-line-clamp: 2) {
  .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoBenefits__BenefitListItem__BenefitText {
    display: -webkit-box;
    -webkit-line-clamp: 2;
  }
}
@supports not (-webkit-line-clamp: 2) {
  html[dir="ltr"]
    .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoBenefits__BenefitListItem__BenefitText {
    margin-right: 1em;
    padding-right: 1em;
  }
  html[dir="rtl"]
    .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoBenefits__BenefitListItem__BenefitText {
    margin-left: 1em;
    padding-left: 1em;
  }
  .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoBenefits__BenefitListItem__BenefitText:before {
    content: "";
    position: absolute;
    bottom: 0;
  }
  html[dir="ltr"]
    .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoBenefits__BenefitListItem__BenefitText:before {
    right: 0;
  }
  html[dir="rtl"]
    .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoBenefits__BenefitListItem__BenefitText:before {
    left: 0;
  }
  .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoBenefits__BenefitListItem__BenefitText:after {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
  }
  html[dir="ltr"]
    .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoBenefits__BenefitListItem__BenefitText:after {
    right: 0;
  }
  html[dir="rtl"]
    .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoBenefits__BenefitListItem__BenefitText:after {
    left: 0;
  }
  body:not(.themed)
    .PropertyCard.Benefits
    .PropertyCard__Information__AsoRatePlanSection__AsoBenefits__BenefitListItem__BenefitText:after {
    background: transparent;
  }
}
html[dir="rtl"]
  .PropertyCard.Benefits
  .PropertyCard__Information__AsoRatePlanSection__AsoBenefits__BenefitListItem__BenefitText {
  padding-left: 0;
  padding-right: 8px;
}
.PropertyCard.Benefits
  .PropertyCard__Information__AsoRatePlanSection__AsoBenefits__Icon {
  min-width: 16px;
}
.PropertyCard.Benefits .PropertyCard__Information__Price {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100px;
  padding: 12px;
  text-align: right;
  color: #737373;
  margin-top: auto;
}
html[dir="rtl"] .PropertyCard.Benefits .PropertyCard__Information__Price {
  text-align: left;
}
.PropertyCardPrice--BeforeCashbackAppliedV2,
.PropertyCardPrice--CrossOut,
.PropertyCardPrice--CrossOutSmall {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  position: relative;
}
.PropertyCardPrice--BeforeCashbackAppliedV2:before,
.PropertyCardPrice--CrossOut:before,
.PropertyCardPrice--CrossOutSmall:before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 100%;
  border-top: 2px solid;
}
html[dir="ltr"] .PropertyCardPrice--BeforeCashbackAppliedV2:before,
html[dir="ltr"] .PropertyCardPrice--CrossOut:before,
html[dir="ltr"] .PropertyCardPrice--CrossOutSmall:before {
  transform: rotate(-10deg);
}
html[dir="rtl"] .PropertyCardPrice--BeforeCashbackAppliedV2:before,
html[dir="rtl"] .PropertyCardPrice--CrossOut:before,
html[dir="rtl"] .PropertyCardPrice--CrossOutSmall:before {
  transform: rotate(10deg);
}
.PropertyCardPrice--CrossOutSmall {
  font-size: 18px;
  line-height: 18px;
}
.PropertyCardPrice--Display .PropertyCardPrice__Value {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
}
.PropertyCardPrice--Display .PropertyCardPrice__Currency,
.PropertyCardPrice--Soldout {
  font-size: 22px;
  line-height: 22px;
}
.PropertyCardPrice--Soldout {
  font-weight: 700;
}
.PropertyCardPrice--BeforeGiftCardApplied {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
}
.PropertyCardPrice--GiftCardApplied .PropertyCardPrice__Value {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}
.PropertyCardPrice--GiftCardApplied .PropertyCardPrice__Currency {
  font-size: 20px;
  line-height: 20px;
}
.PropertyCardPrice--BeforeCashbackApplied .PropertyCardPrice__Value,
.PropertyCardPrice--BeforeCashbackAppliedV2 .PropertyCardPrice__Value {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
}
.PropertyCardPrice--BeforeCashbackApplied .PropertyCardPrice__Currency,
.PropertyCardPrice--BeforeCashbackAppliedV2 .PropertyCardPrice__Currency {
  font-size: 16px;
  line-height: 16px;
}
.PropertyCardPrice--CashbackApplied .PropertyCardPrice__Value,
.PropertyCardPrice--CashbackAppliedV2 .PropertyCardPrice__Value {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
}
.PropertyCardPrice--CashbackApplied .PropertyCardPrice__Currency,
.PropertyCardPrice--CashbackAppliedV2 .PropertyCardPrice__Currency {
  font-size: 22px;
  line-height: 22px;
}
.ficon-gca-wreath-left:before {
    content: "\F2C0";
}
.ficon-gca-wreath-right:before {
    content: "\F2C1";
}
.ficon-star-1:before {
    content: "\F595"
}

.ficon-star-15:before {
    content: "\F596"
}

.ficon-star-2:before {
    content: "\F597"
}

.ficon-star-25:before {
    content: "\F598"
}

.ficon-star-3:before {
    content: "\F599"
}

.ficon-star-35:before {
    content: "\F59A"
}

.ficon-star-4:before {
    content: "\F59B"
}

.ficon-star-45:before {
    content: "\F59C"
}

.ficon-star-5:before {
    content: "\F59D"
}
.ficon-pin-star:before {
    content: "\F3E2";
}
.ficon-review-icon:before {
    content: "\F4CA";
}